-
	var links1 = {
		company: [
			{
				title: 'title',
				href: "about.html",
				name: "О компании",
			}, {
				href: "family.html",
				name: "Семья Eclisse"
			}, {
				href: "/",
				name: "Эксклюзивные отношения"
			}, {
				href: "/",
				name: "Сервисы и услуги"
			}, {
				href: "/",
				name: "Значение и роль ТДВ"
			}
		],
	};

footer
	.container-fluid
		.row
			each items in links1
				.col-12.col-md-3
					ul
						each item in items
							li(class=item.title)
								a(href=item.href)=item.name