block vars
	- var pageTitle = '';

title=pageTitle + ' — Kapsula'

meta(charset='utf-8')

meta(http-equiv="X-UA-Compatible", content="IE=edge")
meta(name="viewport", content="width=360, initial-scale=1, shrink-to-fit=no")

link(rel="shortcut icon", href="/images/favicon-big.png" type="image/png")
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
link(href="/css/bootstrap-grid.min.css", rel='stylesheet')
link(href="/css/owl.carousel.min.css", rel='stylesheet')
link(href="/css/owl.theme.default.min.css", rel='stylesheet')
link(href="/css/hamburgers.min.css", rel='stylesheet')
link(href="/css/base.css?v={VERSION_REPlACE}", rel='stylesheet')

block head