-
	var pages = [
		{
			id: "catalog",
			href: "catalog.html",
			title: "Каталог",
			submenu: [
				{
					id: "index",
					href: "index.html",
					title: "Мероприятия и новости",
				},
				{
					id: "index",
					href: "index.html",
					title: "Курсы",
				},
				{
					id: "index",
					href: "index.html",
					title: "Сертификация и аккредитация",
				},
				{
					id: "index",
					href: "index.html",
					title: "Библиотека ресурсов",
				},
				{
					id: "index",
					href: "index.html",
					title: "Бизнес-решения",
				},
				{
					id: "index",
					href: "index.html",
					title: "Дизайнерские решения",
				},
			]
		}, 
	];

header
	.container-fluid
		nav.row.mob
			each menu in pages
				.col
					a(
						href=menu.href 
						class=(pageType === menu.id) ? 'active' : ''
						)
						= menu.title
					.more
						img.down(src='/img/arrow_down.svg')
						img.up(src='/img/arrow_up.svg')
					.submenu
						each item in menu.submenu
							.submenu-item
								a(href=item.href class=(pageSubType === item.id) ? 'active' : '')= item.title