$font-face: "azoft",
sans-serif;

$color-black: #000000;
$color-white: #ffffff;
$color-gray-light: #f9f9f9;
$color-gray: #ededed;
$color-gray-dim: #818181;
$color-gray-mid: #dddddd;

$color-blue: #0059af;
$color-blue-dim: #003d77;
$color-orange: #feb100;