@import "reset";
@import "mixins";
@import "variables";
@import 'fonts';
@import 'typograph';

@import "partial/header";
@import "partial/footer";
@import "partial/body";
@import "partial/forms";

@import "page/index";

.float_right {
    float: right;
}

.float_left {
    float: left;
}

.owl-navs {
    border-top: 1px solid rgba($color-white, .2);
    position: relative;
    height: 60px;
    z-index: 1;

    button {
        border: none;
        background: none;
        padding: 0;
        cursor: pointer;
    }

    .nav,
    .dots {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        width: 100%;
        line-height: 0;
    }

    .nav {
        height: 16px;
        z-index: 1;

        .owl-prev,
        .owl-next {
            position: absolute;
        }

        .owl-prev {
            left: 15px;
        }

        .owl-next {
            right: 15px;
        }
    }

    .dots {
        z-index: 2;
        width: auto;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);

        button {
            width: 8px;
            height: 8px;
            background-color: $color-white;
            border-radius: 100%;
            margin-right: 8px;
            opacity: .5;
            transition: opacity .3s ease;

            &.active {
                opacity: 1;
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }
}

.checkbox,
.radio {
    margin-right: 16px;


    .cr {
        position: relative;
        float: left;
        display: inline-block;
        border: 1px solid #a9a9a9;
        border-radius: 4px;
        width: 1.3em;
        height: 1.3em;
        margin-right: 15px;

        .cr-icon {
            position: absolute;
            font-size: .8em;
            line-height: 0;
            top: 52%;
            left: 15%;
        }
    }


    label {
        padding-left: 0;

        &:after {
            content: '';
            display: table;
            clear: both;
        }

        input[type="radio"] {
            display: none;

            &+.cr {

                &>.cr-icon {
                    transform: scale(3) rotateZ(-20deg);
                    opacity: 0;
                    transition: all .3s ease-in;
                }
            }

            &:checked+.cr {

                &>.cr-icon {
                    transform: scale(1) rotateZ(0deg);
                    opacity: 1;
                }
            }

            &:disabled+.cr {
                opacity: .5;
            }
        }
    }
}